*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins",sans-serif;
}
.login{
    display: flex;
    justify-content: center; 
     align-items: center; 
    min-height: 100vh;
   
    background: url("htttps://tim-tek.com/wp-content/uploads/2021/09/Project_104-09-Converti-1-1170x700.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.index{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100vh;
   
    background: url("htttps://tim-tek.com/wp-content/uploads/2021/09/Project_104-09-Converti-1-1170x700.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
   width: 420px;
   background-color:transparent;
   color: #fff;
   border-radius: 12px;
   padding: 30px 40px;
   box-shadow: 0 15px 20px rgba(0,0,0, 0.6);

}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position:relative;
    width: 100%;
    height: 50px;
  
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: peru;
    
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color:black;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color:black;


}
.input-box i{
    position: absolute;
    right: 20px;
    top: 35%;
    transform:translate(-50%) ;
    font-size: 20px;
}
    
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: peru;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color:#333;
    font-weight: 600;


}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin:20px 0 15px;

}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600
    ;
}
.register-link p a:hover{
    text-decoration: underline;
}


.register{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    position:relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin:0 15px;

    background-color:peru;
    box-shadow: 0 5px rgba(0, 0,0, .1);

}
.container header{
    position: relative;
    font-size:20px;
    font-weight: 600;
    color:#333;
}
.container header:before{
    content: "";
    position:absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    border-radius: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color:peru;

}
.container form .details{
    margin-top: 10px;
}
.container .title{
    display: block;
    margin-bottom: 8px;
    font-size:16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;

    margin: 6px 0;
}
.personal{
    width: 800px;
}
.container form .fields{
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    justify-content: space-between;
    padding: 0 4%;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 -15px);
    flex-direction: column;

}
.input-field label{
    font-size: 18px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input{
    outline: none;
    border: 1px solid #aaa;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    background: transparent;
    transition: all 0.3s linear;
}
.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0, 0,0, 0.13);
}
.input-field input[type="date"]{
    color: #707070;

}
.input-field input[type="date"]:valid{
   color: #333;
}
.container form button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color:#333;
    font-weight: 600;


    



}
   
form button:hover{
    background-color: peru;
}


