{% extends "nav.html" %}
{% load static %}
{% block content%}
<html>
<head>
    <title>Liste des Employés</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">	
</head>
<body>
    <br><br><br><br><br><br>
    <h1>Liste des Employés</h1>
    <a href="{% url 'AjouterPersonnel' %}">Ajouter un employé</a>
    <ul>
        {% for personnel in personnels %}
        <li>
            
            {{ personnel.nom_prenom}} 
            
            {{ personnel.date_naissance}} 
            {{ personnel.genre}}
            {{ personnel.qualification}} 
            {{ personnel.telephone}} 
            {{ personnel.address}}
            {{personnel.date_enre}}

            <a href="{% url 'editerpersonnel' personnel.pk %}">Modifier</a>
            <a href="{% url 'supprimer_les_personnel' personnel.pk %}">Supprimer</a>
           
        </li>
        {% endfor %}
    </ul>
</body>
</html>
{%endblock%}