{% extends "nav.html" %}
{% load static %}
{% block content%}
<br><br><br><br><br><br>

    <title>Liste des projets</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">	
    <link rel="stylesheet" href="{% static 'css/ss.css' %}">
    <div class="center-text">
    <h1>Liste des materiels</h1><a href="{% url 'ajoutmateriel' %}">Ajouter un materiel</a>
    </div>
    <div class="center-text">
        <table><thead><tr>
            <th>Id</th><th>Nom de materiel</th><th>Nom de Projet</th><th>Type de materiel</th>
            <th>Quantites</th><th>Qualite</th><th>Date d'enregistrement</th><th>Actions</th>
        </tr></thead>
    
    
        <tbody>
        {% for mat in materiels %}
        
        <tr>
           <td> {{ mat.id}}</td>
           
            <td>{{ mat.nom_materiel}} </td>
            <td>{{ mat.projet.nom_projet}}</td>
            
            <td>{{ mat.type_materiel}}</td>
            <td>{{ mat.quantite_materiel}}</td>
            <td>{{ mat.qualite}}</td>
            <td>{{mat.date_d_enregistrement}}</td>

            <td>
            <a href="{% url 'editerMateriel' mat.pk %}">Modifier</a>
            <a href="{% url 'effacer_materiel' mat.pk %}">Supprimer</a></td><br>
        </tr>
       
        {% endfor %}
    </tbody>
</table>
<!-- Par exemple dans votre template principal -->
<a href="{% url 'print_materiel' %}">Imprimer la liste des materiels</a>

</div>
    
    {% endblock%}