{% extends "nav.html" %}
{% load static %}
{% block content %}

<head>
    <title>Formulaire des materiels</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">	
    <link rel="stylesheet" href="{% static 'css/ss.css' %}">
</head>
<body>
    <br><br><br><br><br><br><br>
    
<div class="center-text">
    
    <h1>{{ form.instance.pk|yesno:"Modifier materiel,Ajouter un materiel" }}</h1>
    <div class="input">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sauvegarder</button>
    </form>
    </div>
    <a href="{% url 'liste_materiel' %}">Retour à la liste</a>

</div>
</body>
{% endblock %}
