{% load static %}


    <link rel="stylesheet" href="{% static 'css/nav.css' %}">	


    <nav class="navbar">
        <a href="#" class="logo">B@IT</a>
        <div class="nav-links">
            <ul>
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li class="active"><a href="{% url 'login_view' %}">A propos de nous</a></li>
                <li class="active"><a href="#">Contactez-nous</a></li>
                <li class="active"><a href="{% url 'register' %}">Creer un compte</a></li>
                <li class="active"><a href="{% url 'login_view' %}">se connectez</a></li>
            </ul>
        </div>
        <img style="width: 100px;height: 100px;" src="static/css/menu.png" alt="menu hamburger" class="menu-hamburger">
    </nav>
    {% block content %}

        {% endblock %}
    

<script>
    const menuhamburger =document.querySelector(".menu-hamburger")
    const navlinks=document.querySelector(".nav-links")
    menuhamburger.addEventListener('click',()=>{navlinks.classList.toggle('mobile-menu')})
</script>
