{% extends "nav.html" %}
{% load static %}
<html>
<head>
    <title>Liste des projets</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">	
</head>
<body>
    <h1>Liste des projets</h1>
    <a href="{% url 'ajoutmateriel' %}">Ajouter un materiel</a>
    <ul>
        {% for mat in materiels %}
        <li>
            {{ mat.projet.nom_projet}}
            {{ mat.nom_materiel}} 
            
            {{ mat.type_materiel}}
            {{ mat.quantite_materiel}}
            {{ mat.qualite}}
            {{mat.date_d_enregistrement}}
          
            <a href="#">Modifier</a>
            <a href="#">Supprimer</a>
           
        </li>
        {% endfor %}
    </ul>
</body>
</html>