{% extends "nav.html" %}
{% load static %}
{% block content%}
<br><br><br><br><br><br>
<head>
    <title>Liste des projets</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/ss.css' %}">
</head>



    <h1>Liste des projets</h1>
    <a href="{% url 'creer' %}">Ajouter un employé</a>
    <div class="center-text">
        <table><thead><tr>
            <th>Id</th><th>Nom de materiel</th><th>Nom de Projet</th><th>Type de materiel</th>
            <th>Quantites</th><th>Qualite</th><th>Date d'enregistrement</th><th>Actions</th>
        </tr></thead>
        
            <tbody>
        {% for projet in projets %}<tr>
            <td>{{projet.id}}</td>
           <td>{{ projet.nom_projet}} </td> 
            <td>{{ projet.chef_projet.nom}}</td>
            <td>{{ projet.lieu}}</td>
            <td>{{ projet.date_debit}}</td>
            <td>{{ projet.date_fin}}</td>
            <td>{{ projet.description_projet}}</td>
            <td><a href="{% url 'editer' projet.pk %}">Modifier</a>
            <a href="{% url 'effacer' projet.pk %}">Supprimer</a></td>
        </tr>  
        
        {% endfor %}
    </tbody>
        </table>
        
        <div class="no-print">
            <button onclick="window.print()">Imprimer cette page</button>
        </div>
        
{%endblock%}
