
{% extends "nav.html" %}
	{% block content %}
	{% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">	
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
   
    

<br><br><br><br><br><br>
    <div class="container">
        
            <form method="POST" action="." enctype="multipart/form-data">
                {% csrf_token %}
            <h1>Formulaire d'inscription</h1>
            <div class="content">
                <div class="input-box">
                    <label for="">Nom utilisateur</label>
                     {{profil_form.nom_utilisateur}}

                </div>
                <div class="input-box">
                    <label for="">Nom et prenom</label>
                       {{profil_form.nom_prenom}}

                </div>
               
                <div class="input-box">
                    <label for="">Mots de pass</label>
                    {{profil_form.mots_de_pass}}
                </div>
                
                <div class="input-box">
                    <label for="">Confirme le mots de pass</label>
                      {{profil_form.mots_de_pass1}}
                </div>
                <div class="input-box">
                    <label for="">Date de naissance</label>
                    {{profil_form.date_naissance}}

                </div>
                <div class="input-box">
                    <label for="">Genre</label> 
                    {{profil_form.genre}}
                </div>
                <div class="input-box">
                    <label for="">Qualification</label> 
                    {{profil_form.qualification}}
                </div>
                <div class="input-box">
                    <label for="">Numero de telephone</label>
                    {{profil_form.telephone}}

                </div>
                <div class="input-box">
                    <label for="">Adresse</label> 
                      {{profil_form.address}}

                </div>
                <div class="input-box">
                    <label for="">Date d'enregistrement</label> 
                      {{profil_form.date_enre}}

                </div>


                
            </div>
            <div class="button-container">
                <button>Register</button>
            </div>
        </form>
    </div>
    

{% endblock %}