<!-- horaires/templates/horaires/employe_confirm_delete.html -->
{% extends "nav.html" %}
{% load static %}
{%block content%}

<head>
    <title>Supprimer Employé</title>
</head>
<br><br><br><br><br><br><br>
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<link rel="stylesheet" href="{% static 'css/ss.css' %}">
<div class="center-text">
    <form method="post">
    <h1>Confirmer la suppression?</h1>
    
        {% csrf_token %}
        <li><h1>Confirmer la suppression de <ul>Nom de materiel:{{materiels.nom_materiel}}</ul> 
            <ul>Type de materiel:{{materiels.type_materiel}}</ul> 
            <ul>Quantites:{{materiels.quantite_materiel}}?</ul> </h1> <button type="submit">Confirmer</button></li>
    </form>
    <a href="{% url 'liste_materiel' %}">Annuler</a>
</div>    

{% endblock %}