<!-- horaires/templates/horaires/employe_confirm_delete.html -->
{% extends "nav.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Supprimer Employé</title>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">	
</head>
<br><br><br><br><br>
<body>
    <h1>Confirmer la suppression de {{projets.nom_projet}}?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmer</button>
    </form>
    <a href="{% url 'listedesprojet' %}">Annuler</a>
</body>
</html>

{% endblock%}
